[submodule "src/rtk_gps_um982/third_party/UM982-RTK-GPS-Library"]
	path = src/rtk_gps_um982/third_party/UM982-RTK-GPS-Library
	url = https://github.com/t-nakabayashi/UM982-RTK-GPS-Library.git
[submodule "src/ypspur_ros2/third_party/yp-spur"]
	path = src/ypspur_ros2/third_party/yp-spur
	url = https://github.com/openspur/yp-spur.git
[submodule "src/livox_ros_driver2"]
	path = src/livox_ros_driver2
	url = https://github.com/atinfinity/livox_ros_driver2.git
	branch = jazzy
[submodule "src/FAST_LIO"]
	path = src/FAST_LIO
	url = https://github.com/t-nakabayashi/FAST_LIO.git
	branch = jazzy
[submodule "src/livox_sdk2_vendor/third_party/Livox-SDK2"]
	path = src/livox_sdk2_vendor/third_party/Livox-SDK2
	url = https://github.com/Livox-SDK/Livox-SDK2.git
